[Desktop Entry]
Version=1.0
Type=Application
Name=2-screen
Comment=Activate 2-screen layout
Exec=/home/jtrivino/.screenlayout/2-screen.sh
Icon=video-display
Terminal=false
Categories=Utility;
