[Desktop Entry]
Version=1.0
Type=Application
Name=second-screen
Comment=Activate second-screen layout
Exec=/home/jtrivino/.screenlayout/second-screen.sh
Icon=video-display
Terminal=false
Categories=Utility;
